.c-nav-top {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 27px;
  padding-bottom: 27px;

  @include tran-all-fast;

  width: 100%;

  & > .container-fluid {
    width: 100%;
    max-width: 1800px !important;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
  }

  &.sticky {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .nav-link {
    &:after {
      position: absolute;
      content: "";
      bottom: -4px;
      left: 0;
      width: 100%;
      transition: all 0.15s linear;
      border-bottom: 1px solid transparent;
    }

    &:hover:after {
      border-bottom: 1px solid $black;
    }
  }

  position: fixed;
  top: 0;

  .admin-bar & {
    top: 46px;
  }

  @media screen and (min-width: 782px) {
    .admin-bar & {
      top: 32px;
    }
  }

  .nav-top__logo {
    @media screen and (max-width: $lg) {
      max-width: calc(100% - 100px);
    }

    /*     @media screen and (min-width: var(--modular-header-break)){
      min-width: 260px;
    } */

    img {
      @include tran-all-fast;
      height: 52px;
      width: auto;
      max-width: 100%;

      position: absolute;
      //top:calc(50%);
      left: 0;

      //transform: translateY(-50%);
      margin-top: calc(var(--modular-logo-vertical-offset) * 1px);
    }

    .logo--white {
      position: relative !important;
      transform: none;
    }
  }

  &.sticky {
    .nav-top__logo {
      img {
        //transform: translateY(-50%);
        height: 36px;
        width: auto;
      }
    }
  }

  .menu-top {
    display: none;
    /*     @media screen and (min-width: var(--modular-header-break)){
      display: block;
    } */
  }

  .btns__wrapper {
    display: none;
    /*     @media screen and (min-width: var(--modular-header-break)){
      display: flex;
    } */
  }

  .btn {
    @include tran-all;

    background-color: $white;
    border: 1px solid $black;
    letter-spacing: 0.12em;
    color: $black;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &.sticky .btn {
    padding: calcRem(13px) calcRem(40px);
  }

  .c-toggler {
    display: block;
    /*     @media screen and (min-width: var(--modular-header-break) ){
      display: none;
    } */
  }
}



.section-white {
  &.c-nav-top {
    @extend .u-shadow-sm;

    .logo--white {
      opacity: 0;
    }

    .nav-link {
      color: $black;
      &:after {
        border-bottom: 1px solid transparent;
      }

      &:hover:after {
        border-bottom: 1px solid $black;
      }
    }

    .btn-header.default {
      background-color: $white;
      border: 1px solid $black;
      color: $black;
      &:hover {
        background-color: $black;
        color: $white;
      }
    } 

    .btn-header.custom {
      border: 1px solid var(--modular-header-cta-colour);
      background-color: var(--modular-header-cta-colour);
      color: var(--modular-header-cta-text-colour);
      &:hover {    
        background-color: transparent;
        border: 1px solid var(--modular-header-cta-colour);
        color: var(--modular-header-cta-colour);
      }
    }

/*     .btn-header.outline {
      background-color: transparent;
      border: 1px solid var(--modular-header-cta-colour);
      color: var(--modular-header-cta-colour);
      &:hover {
        background-color: var(--modular-header-cta-colour);
        color: var(--modular-header-cta-text-colour);
      }
    } */
  }
}

.section-black,
.section-transparent {
  &.c-nav-top {
    .nav-link {
      color: $white;
      &:after {
        border-bottom: 1px solid transparent;
      }

      &:hover:after {
        border-bottom: 1px solid $white;
      }
    }

    .logo--black {
      opacity: 0;
    }
    .logo--white {
      opacity: 1;
    }

    .btn-header.default {
      background-color: transparent;
      border: 1px solid $white;
      color: $white;
      &:hover {
        background-color: $white;
        color: $black;
      }
    } 

     .btn-header.custom {
      border: 1px solid var(--modular-header-cta-colour);
      background-color: var(--modular-header-cta-colour);
      color: var(--modular-header-cta-text-colour);
      &:hover {    
        background-color: transparent;
        border: 1px solid var(--modular-header-cta-colour);        
        color: var(--modular-header-cta-colour);        
      }
    } 
/*     .btn-header.outline {
      background-color: transparent;
      border: 1px solid var(--modular-header-cta-colour);
      color: var(--modular-header-cta-colour);
      &:hover {
        background-color: var(--modular-header-cta-colour);
        color: var(--modular-header-cta-text-colour);
      }
    } */
  }
}

.section-transparent {
  &.c-nav-top {
    box-shadow: none !important;

    /*     .btn-header {
      background-color: transparent;
    } */
  }
}

.nt__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 114px;
  /*   @media screen and (min-width: var(--modular-header-break)){
    height: 122px;
  } */

  background-color: black;

  .admin-bar & {
    height: 154px !important;
  }

  /*
  @media screen and (min-width: 782px) {
    .admin-bar & {
      top: 32px;
    }
  } */
}
