.l-section-top{
    padding-top:120px;
    //120    
}

.l-btns-next-to{
    .o-nav-btn:first-of-type {
        border-right: none !important;
    }
}

.l-btns-vertical{
    
    display: flex;
    flex-direction: column;
    .o-nav-btn{
        width: 70px;
    }

    .o-nav-btn:first-of-type {
        border-bottom: none !important;
    }
}

.l-align-right{        
    @media screen and (min-width:calc(1490px + 60px)){
        max-width: calc(100vw - 50vw + 730px);
        margin-left:auto;
        margin-right:0;
        padding-right: 0 !important;
    }  
}

.l-padd-right{  
    padding-right: calc(var(--modular-0-padding) * 1px);  
    @media screen and (min-width:$sm){  
      padding-right: calc(var(--modular-sm-padding) *1px);    
    }
      
    @media screen and (min-width:$lg){  
      padding-right: calc(var(--modular-lg-padding) * 1px);    
    }
  
    @media screen and (min-width:$xl){  
      padding-right: calc(var(--modular-xl-padding) * 1px);    
    }
  }

.l-cols{

    & > .col-12:first-child{
        margin-bottom: 80px;
    }
    @media screen and (min-width:$lg){
        & > .col-12:first-child{
            margin-bottom: 0;
        }
        
    }
}  

.l-cols-xl{

    & > .col-12:first-child{
        margin-bottom: 80px;
    }
    @media screen and (min-width:$xl){
        & > .col-12:first-child{
            margin-bottom: 0;
        }
        
    }
}  