/*normalize*/

html{
  font-size: 14px;
  
  @media screen and (min-width: $md) {
    font-size: 16px;
  }  
}

body{
  margin:0 !important;
  /* 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
   */
  
}

body{
  outline: none !important;
  font-family:  var(--modular-secondary-font);
  color: $black;
  overflow-x: hidden;

  a,p,ol,ul,li,td,em{
    font-family:  var(--modular-secondary-font);      
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family:  var(--modular-primary-font);      
  }
  
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

table {
  border-collapse: collapse;

  th {
    text-align: inherit;
  }
}


body *:focus {
  outline: none !important
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

a,p,li,q {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
}

ul {
  margin: 0;
  padding: 0;
}


hr {
  margin-top: 0;
  margin-bottom: 0;
}


q {
  font-style: italic;
}

#baguetteBox-overlay .full-image img {
  max-width: 90%!important;
}
