.border {
    border: 1px solid $black;
}

.o-cell {
    border: 1px solid $black;
    height: 100px;
    background-color: yellowgreen;
}

.owl-nav {
    display: none;
}

.grecaptcha-badge {
    z-index: 100 !important;
}


