@import "variables";
@import "mixins";
@import '_grid';
@import '_utilities';
@import '_objects';
@import '_blocks';

@media screen and (min-width: 782px) {
    /* .edit-post-layout.is-sidebar-opened .edit-post-sidebar:hover {
        width: 700px;
        max-width: 50vw;
        transition: all ease .7s;
    } */
}