.c-banner{
    height: 600px;
    display: flex;    
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        

    filter: brightness(0.7);
}