@mixin btn {
  @include fontSize(16px);
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1em;

  text-align: center;

  padding: calcRem(25px) calcRem(55px);

  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  text-transform: uppercase;
  z-index: 10;
  border: none;

  -webkit-appearance: none !important;
}

@mixin btn--round {
  border-radius: 25px !important;
}

.btn {
  @include btn;
}

.btn--round {
  @include btn;
  @include btn--round;
}



.btn--outline-white {
  @include tran-all;

  background-color: transparent;
  border: 1px solid $white;
  color: $white;
}


.btn--outline-black {
  @include tran-all;

  background-color: transparent;
  border: 1px solid $black;
  color: $black;
}


.btn--outline-yellow {
  @include tran-all;

  background-color: transparent;
  border: 1px solid $yellow;
  color: $white;
}

.btn--black {
  @include tran-all;

  background-color: $black;
  color: $white !important;

  border: 1px solid $black;
}

.btn--yellow {
  @include tran-all;

  background-color: $yellow;
  color: $white !important;

  border: 1px solid $yellow; 
}

.btn--white{
  @include tran-all;

  background-color: $white;
  color: $black !important;

  border: 1px solid $white; 
} 

.hover-white {
  &:hover {
    color: $black !important;
    background-color: $white;
    border: 1px solid $white;
  }
}

.hover-yellow {
  &:hover {
    color: $white !important;
    background-color: $yellow !important;
    border: 1px solid $yellow  !important;
  }
}

.hover-black {
  &:hover {
    color: $white !important;
    background-color: $black;
    border: 1px solid $black;
  }
}

.hover-transparent {
  &:hover {
    color: $white;
    background-color: transparent !important;    
  }
}

.hover-outline-yellow{
  &:hover {
    color: $yellow !important;
    background-color: transparent !important;
    border: 1px solid $yellow  !important;
  }
}

