@mixin btn {
    @include fontSize(16px);
    font-weight: 500;
    line-height: 1em;
  
    text-align: center;
  
    padding: calcRem(24px) calcRem(55px);
  
    cursor: pointer;
    text-decoration: none !important;
    display: inline-block;
    text-transform: uppercase;
    z-index: 10;
    border: none;
    
    -webkit-appearance:none !important;  
  }
  
  @mixin btn--round {
    border-radius: 25px !important;
  }
  
  .btn {
    @include btn;
  }

  .btn--round {
    @include btn;
    @include btn--round;      
  }    
   

  
  
  .btn--orange{
    
    @include tran-all;    
  
    background-color: $orange;
    color:$white !important;
    &:hover{
      color:$white !important;
      background-color:$orange_heavy;
    }
  }



  .btn--orange-outline{
    @include tran-all;  
  
    background-color:$white;
    border:2px solid $orange;
    color: $orange;
    &:hover{
        background-color: $orange;
        color:$white;
    }
  }


  .btn--icon {        
    i{
      transform: translateX(7px);
    }
  }
  