.c-form{
    width:100%;

    padding:20px;
    @media screen and (min-width:410px){
      padding:40px;  
    }
              
    .col-12,
    .col-md-6 {
      padding-right: 10px;
      padding-left: 10px;
    }
        
    .form__input,
    .form__textarea {
      -webkit-appearance: none !important;
      
      overflow: auto;
      outline: none;
      
      border-radius: 30px;        
      
      font-size: .875rem;

      line-height: 1.3em;
      
      font-weight: 400;
      
      letter-spacing: 1px;
  
      padding: 6px 20px;
      width: 100%;
      margin-bottom: 20px;
    }

    .form__textarea{
      padding: 15px 20px;
    }
      
    .form__submit {
      display: inline-block;
      height: 37px;
      width: 37px;
      position: absolute;
      right: 0px;
      border: none;
      cursor: pointer;
    }    
  
    .permission-wrapper{
      display: flex;
      justify-content: flex-end;
    }

    .g-recaptcha {      
      display: flex;                      
      justify-content: flex-end;   


      transform:scale(0.77);      
      transform-origin:top right;   
      @media screen and (min-width:$sm){
        transform:scale(1);      
      }
      
    }      

    .form__permission {
                  
      text-decoration: none;  
      font-size:.8rem;
      cursor: pointer;
      text-align: left;
    }

    .form__link{
      font-size:.8rem;
      text-decoration: underline;
      cursor: pointer;  
    }
      

    .form__error, .form__thanks{
      padding:.8rem;
      font-size: .875rem;
      margin-bottom: 20px;
      font-weight: 500;
      border-radius: 30px;
    }
    

    .form__btn{
      border:none;
      float:right;
      margin-top:-15px;
      @media screen and (min-width:$sm){
        margin-top:0;
      }
    }
        
  }
  

  
  

  