.c-pagination-numb li a,
.c-pagination-numb li a:hover,
.c-pagination-numb li.active a,
.c-pagination-numb li.disabled {
  text-decoration: none;
}

.c-pagination-numb{
  padding: 30px 0 30px 0; text-align: center;

  ul{display: inline-flex; align-items: center;}

  li{
    display: inline-flex; height: 10px; align-items: center;

    & a:after{
      @include tran-all();
      opacity: 0;      
      position: absolute;z-index: -1;left:0;
      content:'';
      height: 40px;width: 40px;
      display: block;      
      top:-50%;
      transform: translateY(2px);
    }


    span, a{
      display: flex;align-items: center;
      min-width:40px;
      margin: 0 2px;

      position:relative;z-index:10;
    }

    a{
      font-size:0.9375rem;
      font-weight: 600;
      text-align:center;
      cursor:pointer;
      text-decoration:none;

      display: inline-block;
    }
  }


  li:hover, li.active{
    border-right: none;

    & a{      
      &::after{     
        opacity: 1;           
      }

    }
  }
}


