.c-section {
  //padding-top: 60px;
  margin-bottom: 40px;
  @media screen and (min-width: $md) {
    //padding-top: 60px;
    margin-bottom: 120px;
  }

  .section__title {
    position: relative;
    
    font-size: 1.875rem;

    line-height: 1.1em;

    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }

  .section__subtitle {
    position: relative;

    padding-bottom: 40px;
    @media screen and (min-width: $lg) {
      padding-bottom: 60px;
    }
    
    font-size: 1rem;

    line-height: 1.2em;

    text-align: center;
  }

  .col__title {
    position: relative;
    text-align: center;
    
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2em;

    text-transform: none;
    margin-bottom: 15px;
  }
}

.c-section--tiles {
  @extend.c-section;
  .tiles__wrapper {
    width: 100%;    
    display: flex;    
    flex-wrap: wrap;
    
    justify-content: center;

    .c-tile{
      width:100%;
      @media screen and (min-width:$sm){
        width:50%;
      }
      @media screen and (min-width:$lg){
        width:25%;
      }
    }
  }
}

