.half.banner-wrapper {
    .banner__start {
        height: 100%;
    }

    .owl-stage {
        display: flex;
    }
}

.c-banner {
    .row {
        //width: 100%;
    }

    height: 100%;
    min-height: 890px;

    display: flex;
    /* background-image: url('../images/banner.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .banner__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-fluid {
        display: flex;
        align-items: center;        

        .banner__content {
  
          
            max-width: 800px;
   

            .banner__title {
                font-family:  var(--modular-primary-font);
                font-size: 40px;
                @media screen and (min-width: $sm) {
                    @include fontSize(60px);
                }

                line-height: 1.1em;
                font-weight: 400;
                margin-bottom: calcRem(40px);
            }

            .banner__desc {
                @include fontSize(22px);
                line-height: 1.7em;
                margin-bottom: calcRem(70px);
            }
        }

        .btn {
            //@include m-shadow-sm;

            min-width: 206px;
            @media screen and (max-width: $md) {
                min-width: 170px;
            }

            @media screen and (max-width: $sm) {
                padding: 15px 25px !important;
                min-width: 160px;
            }

            /*    @media screen and (max-width:380px){
                padding: 10px 20px !important;                
                min-width: 160px;
            } */

            margin-bottom: 15px;
        }

        .btn-right {
            @media screen and (min-width: 344px) {
                margin-left: 15px;
            }
        }
    }

    .banner__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .banner__video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.c-banner.l-half {
    min-height: auto;

    padding-top: 80px;
    padding-bottom: 110px;
    @media screen and (min-width: $xl) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    margin-bottom: 0px;
    //margin-top: 120px;

    //min-height:auto;

    .col__content {
        display: flex;
        align-items: center;
        order: 1;

        @media screen and (min-width: $xl) {
            order: 0;
        }

        .banner__content {
            padding-top: 60px;
            @media screen and (min-width: $xl) {
                padding-top: 100px;
                padding-bottom: 100px;
            }

            width: 83%;
            margin-bottom: 0;

            .banner__title {
                font-size: 40px;
                @media screen and (min-width: $sm) {
                    @include fontSize(45px);
                }
                margin-bottom: calcRem(30px);
            }

            .banner__desc {
                @include fontSize(18px);
            }
        }
    }

    .right {
        @media screen and (min-width: $xl) {
            margin-right: 0;
            margin-left: auto;
        }
    }

    .left {
        flex-direction: row-reverse;
        @media screen and (min-width: $xl) {
            .banner__content {
                margin-right: 0;
                margin-left: auto;
            }
        }
    }

    .banner__image {
        /*     min-height: 300px;
        @media screen and (min-width:$sm){
            min-height: 400px;
        } */

        @media screen and (max-width: $sm) {
            min-height: 300px;
            //object-fit: contain;
        }

        width: 100%;
        height: 100%;

        object-fit: contain;
        @media screen and (min-width: $xl) {
            object-fit: contain;
        }
    }
}

.banner-wrapper.full {

    .container-fluid {                
        @media screen and (min-width: $xl) {
            width: calc(100vw - 200px);
        } 

        @media screen and (min-width: $xl) {
            &.left {                          
                justify-content: flex-start;
                .banner__content {
                    text-align: left;
                }
            }

            &.center {                           
                justify-content: center;
                .banner__content {
                    text-align: center;
                }
            }

            &.right {                           
                justify-content: flex-end;
                .banner__content {
                    text-align: right;
                }
            }
        }

    }


    .row {
/*         width: 100%;
        @media screen and (min-width: $xl) {
            margin-left: 0;
            margin-right: 0;
        } */
    }
}

.banner__nav {
    position: absolute;
    bottom: 95px;

    @media screen and (min-width: $xl) {
        bottom: 120px;
    }

    right: 50%;
    transform: translateX(50%);

    z-index: 100;

    display: none;
    @media screen and (min-width: $xl) {
        display: block;
    }

    &.full {
        bottom: auto;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
        max-width: 1800px !important;

        .o-nav-btn {
            &:first-of-type {
                margin-left: 0;
                margin-right: auto;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &.half {
        .o-nav-btn {
            &:first-of-type {
                border-right: none;
            }

            &:first-of-type {
                margin-left: auto;
            }
            &:last-of-type {
                margin-left: 0;
            }
        }

        &.right {
            @media screen and (min-width: $xl) {
                /* left: 0;
                transform: translateX(0%); */
            }

            .u-nav {
                /* margin-right: 10%; */
                margin-right: 18%;
            }
        }
    }
}

.section-transparent {
    .c-banner {
        h1,
        p {
            color: $white;
        }
    }
}

.owl-dots {
    position: absolute;

    bottom: 60px;

    left: 50%;
    transform: translateX(-50%);

    margin-top: 0px !important;

    .owl-dot {
        span {
            border: 1px solid $black;
            background: $white !important;
            height: 13px !important;
            width: 13px !important;
        }
        &.active span {
            background: $black !important;
        }
    }

    
    bottom: 42px;
    
}

.section-transparent, .section-black{
    .owl-dot {
        span {
            border: 1px solid $white;
            background: transparent !important;
        }
        &.active span {
            background: $white !important;
        }
    }
}


.section-white{
    .owl-dot {
        span {
            border: 1px solid $black;
            background: transparent !important;
        }
        &.active span {
            background: $black !important;
        }
    }
}